.footer
  height: 10vh
  background: #212121
  .container
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
    .footer__network
      width: 33%
    .footer__text
      font:
        family: "Cormorant-Bold", sans-serif
        size: 1.25em
      text-align: center
      color: #fff
      width: 34%
    .footer__top
      text-align: right
      width: 33%
    a
      display: inline-block